@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&family=Roboto:wght@500&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

header {
    background-color: #27383F;
    display: grid;
    grid-template-columns: 100px auto;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 22px;
}

.topLogo {
    max-width: 160%;
    justify-self: center;
    align-self: center;
}

footer {
    background-color: #27383F;
    color: #d5dad2;
    font-family: Lato, Helvetica, sans-serif;
    padding: 25px;
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Red Hat Display', sans-serif;
}

.logo {
    justify-self: center;
    align-self: center;
    max-width: 50%;
    height: auto;
}

nav {
    display: flex;
    justify-content: center;
}

nav a {
    text-align: center;
    color: #d5dad2;
    text-decoration: none;
    display: grid;
    padding: 50px;
}

nav a:hover {
    color: #4f0403;
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

h1 {
    padding: 100px;
}

a {
    color: #d5dad2
}

a:hover {
    color: #4f0403;
}

body {
    background-color: #0f0b05;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: center;
    text-indent: 50px;
    color: #d5dad2;
}

.aboutMe {
    padding: 100px;
    font-size: 18px;
    text-align: center;
    text-indent: 50px;
    letter-spacing: 3px;
}

.homeImages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.christmas {
    max-width: 100%;
    align-items: center;
    justify-items: center;
}

.home {
    max-width: 100%;
    align-items: center;
    justify-items: center;
}

.concert {
    max-width: 100%;
    align-items: center;
    justify-items: center;
}

.contact {
    padding: 20px;
    font-size: 16px;
    text-align: center;
    letter-spacing: 2px;
}

/* Style inputs with type="text", select elements and textareas */

input[type=text],
select,
textarea {
    background-color: #27383F;
    color: #d5dad2;
    width: 75%;
    /* Full width */
    padding: 15px;
    /* Some padding */
    border-radius: 5px;
    /* Rounded borders */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    justify-content: center;
    align-items: center;
    resize: vertical
        /* Allow the user to vertically resize the textarea (not horizontally) */
}

#container {
    background-color: #27383F;
    display: grid;
    grid-template-columns: 100px auto;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 22px;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #27383F;
    color: #d5dad2;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #4f0403;
}

input,
textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font-family: 'Roboto', sans-serif;

    /* Match form field borders */
    border: 1px solid #999;
}

.contactImages {
    display: grid;
    grid-template-columns: 50px auto;
    margin-top: 100px;
}

.linkedIn {
    max-width: 50%;

}

.github {
    max-width: 50%;
}

.resume {
    padding: 20px;
    font-size: 16px;
    letter-spacing: 2px;
}

.missionStatement {
    text-align: center;
}

.headline {
    font-weight: bold;
}

.resume ul {
    text-align: left;
    text-indent: 25px;
}

.resume h4 {
    font-family: 'Roboto', sans-serif;
    text-align: left;
    padding-top: 5px;
    font-size: 20px;
}

.resume h3 {
    font-size: 25px;
}

.resumeImage {
    max-width: 100%;
    align-items: center;
    justify-items: center;
}

@media screen and (max-width: 900px) {


    header,
    footer {
        font-size: 25px;
    }

    .homeImages,
    .resumeImage,
    .contactImages {
        width: 70%;
        display:block;
        margin: 0 auto;
    }

    #background {
        display: none;
    }

    footer {
        margin-top: 25px;
    }

    nav,
    footer {
        flex-direction: column;
    }

    nav a {
        display: block;
        padding: 15px;
    }

    h1,
    h2,
    h3 {
        font-size: large;
    }

    p {
        font-size: medium;
    }
}